$footer-background: #130026;
$nav-background: #1B0C45;
$primary-fuchsia: #624CC1;
$primary-cerise: #E14068;
$primary-jaffa: #F1A13A;

//Tints
$cerise-tint1: #EA7995;
$cerise-tint2: #F3B2C2;
$cerise-tint3: #FCEBEF;

$fuchsia-tint1: #816FCD;
$fuchsia-tint2: #B0A5DF;
$fuchsia-tint3: #EFEDF8;

$jaffa-tint1: #F3B361;
$jaffa-tint2: #F8D09C;
$jaffa-tint3: #FDF5EB;

//Shades
$cerise-shade1: #9D2C48; 
$cerise-shade2: #5A1929;
$cerise-shade3: #16060A;

$fuchsia-shade1: #4E3C9A;
$fuchsia-shade2: #271E4D;
$fuchsia-shade3: #090713;

$jaffa-shade1: #C0802E;
$jaffa-shade2: #78501D;
$jaffa-shade3: #181005;

//White,black & grey
$white-color: #FFFFFF;
$silver-color: #A8A8A8;
$emperor-gray-color: #545454;
$fuchsia-black-color: #1B0C45; 

//Success & warning
$success-color: #68E14D;
$warning-color: #E14068;

//font-selection
$primary-font: 'Roboto Condensed', sans-serif;
$secondary-font: 'Cabin', sans-serif;