.accommodation-detail-btn {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 16px;
    width: 100%;
}

.btn-activities-cta {
    width: 100%;
    border: 1px solid $fuchsia-tint1 !important;
    background-color: transparent;
}

.btn-activities-cta:hover {
    background-color: $primary-fuchsia;
    transition-delay: 0.2s;
    transition-timing-function: ease-in;
    color: $primary-jaffa;
}

.btn-home-cta,
.enq-btn-cta,
.contact-btn-cta,
.login-btn-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
}

.admin-btn-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    width: fit-content;
}

.logout-btn-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    border-radius: 5px;
    height: max-content;
    margin-top: 7px !important;
}

.btn-details-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 20px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}

.btn-modal-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    min-width: 200px;
}

.create-btn-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
}

.logout-btn-cta:hover,
.admin-btn-cta:hover,
.login-btn-cta:hover,
.contact-btn-cta:hover,
.enq-btn-cta:hover,
.btn-home-cta:hover,
.accommodation-detail-btn:hover,
.btn-details-cta:hover,
.btn-modal-cta:hover,
.create-btn-cta:hover {
    background-color: $cerise-shade1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    color: $white-color;
}

.btn-primary:focus {
    background-color: $primary-cerise !important;
    border: none;
    box-shadow: none;
}

.btn-activities-cta {
    border: none;
}

.back-to-link a {
    color: $fuchsia-tint3 !important;   
}

.back-to-link a:hover {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    color: $primary-jaffa !important;
}

.ext-link-a {
    color: $white-color;
}

.ext-link-a:hover {
    color: $primary-jaffa;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.backlink-chevron {
    font-size: 18px;
}

button.message-accordion-activation,
button.enquiry-accordion-activation,
button.accordion-btn {
    background-color: transparent;
    border-radius: 5px;
    color: $white-color;
    font-family: $secondary-font !important;
    padding: .25rem .75rem;
    border: .5px solid $primary-fuchsia !important;
}

button.message-accordion-activation,
button.enquiry-accordion-activation {
    min-width: 240px !important;
}

button.message-accordion-activation:hover,
button.enquiry-accordion-activation:hover,
button.accordion-btn:hover {
    background-color: $fuchsia-shade1;
    color: $primary-jaffa;
    transition-timing-function: ease-in;
    transition-delay: 0.2s;
}

button.close {
    color: $white-color;
    text-shadow: none;
}

button.close:hover {
    color: $primary-cerise;
    transition-delay: 0.2s;
    transition-timing-function: ease-in;
}

.btn-modal-close.btn.btn-primary {
    background-color: $primary-cerise !important;
    border: none;
}

.btn-modal-close.btn.btn-primary:hover {
    background-color: $cerise-shade1 !important;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}