.accommodation-detail-btn,
.btn-activities-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 16px;
    width: 100%;
}

.btn-home-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
}

.btn-home-cta:hover {
    background-color: $cerise-shade1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    color: $white-color;
}

.btn-details-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 20px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}

.accommodation-detail-btn:hover {
    background-color: $cerise-shade1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    color: $white-color;
}

.btn-activities-cta:hover {
    background-color: $cerise-shade1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    color: $white-color;
}

.btn-details-cta:hover {
    background-color: $cerise-shade1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    color: $white-color;
}

.btn-activities-cta {
    border: none;
}

.back-to-link a {
    color: $fuchsia-tint3 !important;
    
}

.back-to-link a:hover {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    color: $primary-jaffa !important;
}

.backlink-chevron {
    font-size: 18px;
}

