.accommodation-detail-btn,
.btn-activities-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 16px;
    width: 100%;
}

.btn-home-cta,
.enq-btn-cta,
.contact-btn-cta,
.login-btn-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
}

.admin-btn-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    width: fit-content;
}

.logout-btn-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 16px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    border-radius: 5px;
    height: max-content;
    margin-top: 7px !important;
}

.btn-details-cta {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 20px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}

.logout-btn-cta:hover,
.admin-btn-cta:hover,
.login-btn-cta:hover,
.contact-btn-cta:hover,
.enq-btn-cta:hover,
.btn-home-cta:hover,
.accommodation-detail-btn:hover,
.btn-activities-cta:hover,
.btn-details-cta:hover {
    background-color: $cerise-shade1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    color: $white-color;
}

.btn-activities-cta {
    border: none;
}

.back-to-link a {
    color: $fuchsia-tint3 !important;   
}

.back-to-link a:hover {
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    color: $primary-jaffa !important;
}

.ext-link-a {
    color: $white-color;
}

.ext-link-a:hover {
    color: $primary-jaffa;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.backlink-chevron {
    font-size: 18px;
}

.accordion-btn {
    background-color: transparent;
    color: $white-color;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    border: .5px solid $primary-fuchsia;
    border-radius: 5px;
}


