.accommodation-card-image {
    width: 300px;
    height: auto;
}

.accommodation-card {
    width: 300px;
    box-shadow: 2px 4px 8px $fuchsia-shade3;
}

.accommodation-title {
    font-size: 24px;
    font-family: $primary-font;
    font-weight: 700;
}

.accommodation-subtitle {
    font-size: 20px;
    font-family: $primary-font;
    font-weight: 700;
}

.list-group-item {
    font-size: 16px;
    font-family: $secondary-font;
}

.accommodation-background-fuchsia {
    background-color: $primary-fuchsia;
}

.accommodation-detail-btn {
    background-color: $primary-cerise;
    color: $white-color;
    font-size: 16px;
    width: 100%;
}

.accommodation-detail-btn:hover {
    background-color: $cerise-shade1;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    color: $white-color;
}

.dark-bg {
    background-color: $fuchsia-black-color;
    color: $white-color;
}

.card {
    background-color: unset;
}

.accommodation-detail-image {
    width: 500px;
    height: auto;
}

.accommodation-detail-description {
    width: 500px;
}

.accommodation-detail-container {
    margin-top: 50px;
}

.accommodation-detail-card {
    background: $fuchsia-shade2 !important;
    border-radius: 10px;
}

.accommodation-detail-title,
.accommodation-detail-subtitle {
    color: $white-color;
    font-family: $primary-font;
}

.accommodation-detail-body {
    background-color: $fuchsia-black-color;
}