.accommodation-card-image,
.activities-card-image {
    width: 300px;
    height: auto;
}

.accommodation-card {
    width: 300px;
}

.activities-card {
    width: 300px;
}

.accommodation-title,
.activities-title {
    font-size: 24px;
    font-family: $primary-font;
    font-weight: 700;
}

.accommodation-subtitle {
    font-size: 20px;
    font-family: $primary-font;
    font-weight: 700;
}


.activities-card-body {
    background-color: $fuchsia-tint3;    
}

.activities-subtitle {
    font-size: 16px;
    font-family: $secondary-font;
    font-weight: 400;
}

.activities-title,
.activities-subtitle {
    color: $fuchsia-black-color;
}

.list-group-item {
    font-size: 16px;
    font-family: $secondary-font;
}

.accommodation-background-fuchsia {
    background-color: $primary-fuchsia;
}

.accommodation-detail-description {
    background-color: $white-color;
}

.dark-bg {
    background-color: $fuchsia-black-color;
    color: $white-color;
}

.card {
    background-color: unset;
}

.card-body {
    padding: 0.75rem;
}

.card-title {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
}

.accommodation-detail-image {
    width: 500px;
    height: auto;
}

.accommodation-detail-description {
    width: 500px;
}

.accommodation-detail-container {
    margin-top: 50px;
}

.accommodation-detail-card {
    background: $fuchsia-shade2 !important;
    border-radius: 10px;
}

.accommodation-detail-title,
.accommodation-detail-subtitle {
    color: $white-color;
    font-family: $primary-font;
}

.accommodation-detail-body {
    background-color: $fuchsia-black-color;
}

.list-group-item {
    padding: .5rem 1rem;
}