.dropdown-menu {
    background-color: $nav-background;
}

.dropdown-item {
    color: $white-color;
}

.dropdown-item:hover {
    background-color: $fuchsia-shade1;
    color: $white-color;
}

.search-price-tag {
    background-color: $jaffa-shade1;
    border-radius: 10px;
    padding: 0.1rem 0.5rem;
    height: fit-content;
}
