html,
body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    background: rgb(87,68,142);
    background: radial-gradient(circle, rgba(87,68,142,1) 0%, rgba(27,12,69,1) 100%);
    font-family: $secondary-font !important;
}


.home-header-background-image {
    background-image: 
    linear-gradient(to bottom, rgba(46, 22, 119, 0.5),rgba(46, 22, 119, 0.5)),
    url("./../../images/bergen-city-center.jpg");
    height: 400px;
    width: auto;
    background-position: center;
    
}

.activities-header-background-image {
    background-image:
    linear-gradient(to bottom, rgba(46, 22, 119, 0.5), rgba(46, 22, 119, 0.5)),
    url("./../../images/bergen-by-night.jpg");
    height: 400px;
    width: auto;
    background-position: center;
}

@media screen and (min-width: 1920px) {
    .home-header-background-image {
        background-size: cover;
    }
    .accommodations-header-background-image {
        background-size: cover;
    }
    .activities-header-background-image {
        background-size: cover;
    }
}

.accommodations-header-background-image {
    background-image:
    linear-gradient(to bottom, rgba(46, 22, 119, 0.5), rgba(46, 22, 119, 0.5)),
    url("./../../images/bergen-ambience.jpg");
    height: 400px;
    width: auto;
    background-position: center;
}

.content-wrapper {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 25px;
    min-height: 100%;
}


