html,
body {
    margin: 0;
}

body {
    background: rgb(87,68,142);
    background: radial-gradient(circle, rgba(87,68,142,1) 0%, rgba(27,12,69,1) 100%);
    font-family: $secondary-font !important;
}


.home-header-background-image {
    background-image: 
    linear-gradient(to bottom, rgba(46, 22, 119, 0.5),rgba(46, 22, 119, 0.5)),
    url("./../../images/bergen-city-center.jpg");
    height: 400px;
    width: 100%;
}

.accommodations-header-background-image {
    background-image:
    linear-gradient(to bottom, rgba(46, 22, 119, 0.5), rgba(46, 22, 119, 0.5)),
    url("./../../images/bergen-ambience.jpg");
    height: 400px;
    width: 100%;
}

.content-wrapper {
    box-sizing: border-box;
    position: relative;
    padding-bottom: 250px;
    min-height: 100%;
}
