.font-color-white {
    color: $white-color;
}

.font-color-dark {
    color: $fuchsia-black-color;
} 

.font-family-primary {
    font-family: $primary-font;
}

.font-family-secondary {
    font-family: $secondary-font;
}

.content-heading {
    font-family: $primary-font;
    color: $white-color;
    font-size: 40px;
}

.home-subheading,
.accommodations-subheading,
.activities-subheading {
    font-family: $secondary-font;
    color: $snow-color;
    font-size: 24px;
    font-weight: 400;
}

.activities-detail-title {
    font-family: $primary-font;
    color: $snow-color;
    font-size: 24px;
    font-weight: 700;
}

.activities-detail-text {
    font-family: $secondary-font;
    color: $snow-color;
    font-size: 16px;
    font-weight: 400;
}

.content-subheading {
    font-family: $secondary-font;
    color: $silver-color;
    font-size: 24px;
    font-weight: 400;
}

h1.main-heading {
    font-size: 52px;
}