.font-color-white {
    color: $white-color;
}

.font-color-dark {
    color: $fuchsia-black-color;
} 

.font-family-primary {
    font-family: $primary-font;
}

.font-family-secondary {
    font-family: $secondary-font;
}

.content-heading {
    font-family: $primary-font;
    color: $white-color;
    font-size: 40px;
}

.home-subheading {
    font-family: $secondary-font;
    color: $white-color;
    font-size: 24px;
}

.content-subheading {
    font-family: $secondary-font;
    color: $silver-color;
    font-size: 24px;
}